body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#banner {
  background-color: #2C598D;
  color: #DAAC59;
  max-width: 100%;
  max-height: 15%;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  font-size: 5em;
  font-family: 'Lobster', cursive;
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#select-country {
  margin: 2em;
  max-width: 100%;
}

#btn-stats {
  margin: 2em;
}

#country-name-header {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.country-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

#country-info {
  flex: 2;
  max-width: 50%;
  margin-left: 5em;
}

#country-flag {
flex: 1;
justify-content: center;
max-width: 50%;
margin-right: 1em;
}

img {
  max-width: 100%;
  max-height: 100%;
  border: 1px black solid;
}

#chart-population {
  max-width: 500;
  max-height: 400;
}

#chart-area {
  max-width: 500;
  max-height: 400;
  margin-bottom: 10%;
}

#map {
  height: 400px;
  max-width: 100%;
}
